 <!-- footer -->
		
 <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2">Sualın var?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">Bünyad Sərdarov küçəsi (Axundov Bağının yanı)</span></li>
                      <li><span class="icon icon-phone"></span><span class="text">050 555 11 40, 012 492 68 17 <span></li>
                      <li><span class="icon icon-envelope"></span><span class="text">info@upacademy.az</span></li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5 ml-md-4">
                <h2 class="ftco-heading-2">Linklər</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'blog-home' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                  <li><a href="{% url 'blog-about' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                  <li><a href="{% url 'blog-teachers' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Team</a></li>
                  <li><a href="{% url 'blog-courses' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Courses</a></li>
                  <li><a href="{% url 'blog-abroad' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Abroad</a></li>
                  <li><a href="{% url 'blog-blog' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Blog</a></li>
                  <li><a href="{% url 'blog-contact' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2 mb-0">Əlaqə</h2>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                  <li class="ftco-animate"><a href="https://www.twitter.com/UpAcademy4"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.facebook.com/upacademyeducationcenter"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="https://www.instagram.com/upacademy.az"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
                  <div class="ftco-footer-widget mb-5">
                      <h2 class="ftco-heading-2 text-center">Bizə qoşul!</h2>
                    <form action="." class="subscribe-form" method="post">
                      {% csrf_token %}
                      {{ form.as_p }} 
                      <div class="form-group">
                        <input type="text" class="form-control mb-2 text-center" placeholder="Emaili daxil et">
                        <input type="submit" value="Qoşul" class="form-control submit px-3">
                      </div>
                    </form>
                  </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link \ -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by <p><a href="mailto:rashad.panahli@gmail.com">Rashad Panahli</a></p>
    <!-- Link --></p>
            </div>
          </div>
        </div>
      </footer>
      
    
  
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  
  